[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.2.4"
pillow = "==8.2.0"
base58 = "==2.1.1"
urllib3 = "==1.26.4"
regex = "==2021.8.28"
numpy = "==1.20.3"
pyvis = "==0.1.9"
streamlit = "==1.2.0"
streamlit-player = "==0.1.5"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
